<html>
<head>
    <title>Welcome to SailCMS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        h1 {
            text-shadow: -1px -1px 0 #1c3465,
            1px -1px 0 #1c3465,
            -1px 1px 0 #1c3465,
            1px 1px 0 #1c3465;
        }
    </style>
</head>

<body class="flex flex-col align-items-center h-screen bg-cover bg-bottom bg-gradient-to-br from-blue-700 to-sky-900 p-6" style="background-image: url(https://sailcms.s3.us-east-2.amazonaws.com/cms/bg_sail.webp)">
<h1 class="p-8">
    <img src="https://sailcms.s3.us-east-2.amazonaws.com/cms/logo.webp" class="w-[350px]"/>
</h1>
<div class="flex flex-grow items-center">
    <p class="text-center w-full text-white text-xl">Sail is now ready for use, you can start building your application now!</p>
</div>
<div class="text-center text-blue-300">Made 💖 by Leeroy in {{ year }}.</div>
</body>
</html>